/* style.css */

body {
  margin: 0;
}

.chat-container {
  display: flex;
  height: 100vh;
  background-color: #0F172A;
}

.sidebar {
 /* 20% of the space */
  width: 20%;
  height: 100%;
  background-color: #0F172A;
  position: relative; /* Add position relative to the sidebar */
}
.sidebar::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px; /* Set to 1px or another small value */
    background: linear-gradient(to bottom, transparent 20%, white 50%, transparent 90%);
    /* transform: scaleY(0.7); */
}

/* .main-content {
  flex: 1;
}
 */

/* Chat container styles */
.main-content {
  flex: 1;
    height: 80%;
    /* overflow-y: scroll; */
    padding-top: 8%;
  }
  
  /* Chat box styles */
  .chat-box {
    width: 60%;
    height: 80%;
    margin: 0 auto;
    padding: 6px;
    overflow-y: scroll;
     /* Hide the scrollbar for webkit browsers (Chrome, Safari) */
     scrollbar-width: thin;
     scrollbar-color: transparent transparent;
  }
  /* Hide the scrollbar for non-webkit browsers (Firefox) */
.chat-box::-webkit-scrollbar {
    width: 12px; /* Adjust as needed */
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.chat-box::-webkit-scrollbar-track {
    background-color: transparent;
}
  /* Message container styles */
  .message-container {
    display: flex;
    margin-bottom: 12px;
    padding: 10px;

  }
  
  /* Role icon styles */
  .role-icon {
    margin-right: 8px;
    padding: 6px;
    background-color: #6b7280; /* Replace with your color */
    color: #fff; /* Replace with your color */
    border-radius: 50%;
    height: 100%;
  }

  .message {
    /* Add common message styles here */
    color: #fff; /* Replace with your color */
    line-height: 1.6;
  }
  .test {
    background: #243252;
    border-radius: 10px;
  }




  .chat-input{
    /* display: flex;
    justify-content: center; */
    /* flex-direction: column; */
    height: 20%;
    /* width: 100%; */
    /* align-items: center; */
    /* width: 60%;
    margin: 0 auto;
    padding: 6px; */
    /*justify center*/
  }
  .wraptest {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;

  }
  .input_class{
    padding: 1rem;
    border-radius: 10px;
    width: 60%;
  }
  .input_small{
    color:white;
  }
  .items_wrapper{
    display:flex;
    width: 100%;
    justify-content: center;
    position: relative;
  }
  .send_icon {
    position: absolute;
    right: 10px; /* Adjust the right position as needed */
    cursor: pointer; /* Optional: Add a pointer cursor to indicate interactivity */
}
