/* style.css */


*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.profile-message-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  max-width: 400px; /* Adjust as needed */
  margin: 20px auto; /* Adjust as needed */
  background-color: #3f4142;
  color: white;
}

.message-image {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.message-text {
  flex: 1;
  margin-right: 10px;
  font-size: 14px;
}

.message-icon {
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
}
.chat-container {
  display: flex;
  height: 100vh;
  position: fixed;
}

.sidebar {
  width: 20%;
  background-color: rgb(37, 38, 43);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.header {
  flex: 0.1;
}

.sidebar-main-content {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  color: white;
  /* scroll */
  overflow-y: scroll;
}

.selected{
  background-color: #3f4142c9;
}

/* scrollbar for sidebar-main-content */
.sidebar-main-content::-webkit-scrollbar {
  width: 3px; /* Adjust as needed */
  padding: 50px !important;
  margin: 50px !important;
}

.sidebar-main-content::-webkit-scrollbar-thumb {
  background-color: #3f4142;
  padding: 50px !important;
  margin: 50px !important;
}

.main-content-section {
  flex: 0.7;
  padding: 10px;
}
.main-content-section h2{
  color:#a9a9b4;
}
.main-content-section li{
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}
.main-content-section h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.main-content-section ul {
  list-style: none;
  padding: 0;
}

.main-content-section li {
  margin-bottom: 8px;
}

.footer {
  flex: 0.1;
  padding: 10px;
  border-top: 1px solid #6e6e6ec1;
}

/* box shadow top of footer */


/* .sidebar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background: linear-gradient(
    to bottom,
    transparent 20%,
    white 50%,
    transparent 90%
  );
} */

.main-content {
  flex: 1;
  /* background-color: rgb(37, 38, 43); */
  background-color: rgb(36 38 43 / 97%);
}

/* Chat box styles */
.chat-box {
  width: 60%;
  height: 60%;
  margin: 0 auto;
  padding: 6px;
  overflow-y: scroll;
  /* Hide the scrollbar for webkit browsers (Chrome, Safari) */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
/* Hide the scrollbar for non-webkit browsers (Firefox) */
.chat-box::-webkit-scrollbar {
  width: 3px; /* Adjust as needed */
  padding: 50px !important;
  margin: 50px !important;
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: #3f4142;
  padding: 50px !important;
  margin: 50px !important;
}

.chat-box::-webkit-scrollbar-track {
  background-color: transparent;
}
/* Message container styles */
.message-container {
  display: flex;
  margin-bottom: 10px;
  padding: 6px;
}

.message-container.user {
  flex-direction: row-reverse; /* Change the direction to reverse the order of flex items */
  justify-content: flex-start; /* Align user's messages to the left */
}

.message-container.user .role-icon {
  margin-left: 0; /* Remove margin-left for user's role-icon */
  margin-right: -3px; /* Add margin-right for user's role-icon */
}

.message-container.user .message {
  margin-left: 8px; /* Add margin-left for user's message */
  margin-right: 8px; /* Remove margin-right for user's message */
}

/* Role icon styles */
.role-icon {
  margin-right: 8px;
  padding: 6px;
  background-color: #525151; /* Replace with your color */
  color: #fff; /* Replace with your color */
  border-radius: 50%;
  height: 100%;
}

.message {
  /* Add common message styles here */
  color: #fff; /* Replace with your color */
  line-height: 1.6;
}
.test {
  background: #3f4142;
}

.input_small {
  color: white;
}
.items_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}
.send_icon {
  position: absolute;
  right: 10px; /* Adjust the right position as needed */
  cursor: pointer; /* Optional: Add a pointer cursor to indicate interactivity */
}
/* Add these styles to styles.css */

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 20px;
  padding-top: 4%;
}

.search-input {
  padding: 13px;
  border: 1px solid #3f4142;
  margin-right: 10px;
  width: 250px; /* Adjust the width as needed */
  color: white; /* Adjust the text color as needed */
  background-color: #3f4142;
}
/* placeholder searchinput  */
.search-input::-webkit-input-placeholder {
  color: rgb(187, 183, 183);
}
.headerIcons {
  size: 25px;
  cursor: pointer;
}
.headerIcons:hover {
  color: #fff;
}

.icon-container {
  color: #3f4142;
  size: 25px;
  cursor: pointer;
  margin-right: 10px; /* Add some spacing between icons */
}

.icon-container:hover {
  color: #fff;
}

.chat-input {
  height: 25%;
}

.wraptest {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.input-container {
  position: relative;
  width: 60%;
}

.input_class {
  /* padding: 1rem; */
  width: 100%;
  /* padding-left: 40px; */
  background-color: #3f4142;
  padding: 0 3px 20px;
}
.textarea_class {
  /* border-radius: 10px; */
  width: 75%;
  color: white;
  font-size: 15px;
  padding: 5px;

  background-color: #3f4142;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top:10px;

  resize: none; /*remove the resize handle on the bottom right*/
}
.textarea_class::-webkit-input-placeholder {
  color: rgb(187, 183, 183);
}
.textarea_class::-webkit-scrollbar {
  background-color: rgb(37, 38, 43);
  width: 3px;
}
.textarea_class::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
  padding: 10px !important;
  margin: 20px !important;
}
.iconSend,
.iconMicro,
.iconUpload {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
}

.iconSend {
  left: 95%;
}

.iconMicro {
  left: 95%;
  margin-left: -30px;
}

.iconUpload {
  left: 95%;
  margin-left: -60px;
}

/* spacing between icons */
.logo_avx {
  display: block;
  height: 32px;
  max-width: 100%;
  margin: 0;
  border: 0;
  outline: 0;
}
